@charset "UTF-8";

.content{
	float: left;
	width: 70%
}
.img{
	float: right;
	border: 1px;
	border-color:black; 
}

.img ul{
	list-style: none;
}
hr{
	color: gray;
}

/* h3 a{
	text-decoration: none;
} */
